.card-top {
    width: 400px;
    height: 400px;
    margin: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
}
.container {
    color: rgb(187, 218, 243);
    text-align: center;
}
.card-title {
    text-align: center;
    margin-top: 50px;
}
.nav-link {
    display: inline;
    margin: 5px;
   align-items: center;
}
.title {
    font-size: 70px;
}
.card-text {
    font-size: 20px;
}
.title, .card-title, .card-text, h2 {
    font-family: "Bree Serif";
  }