.card {
    border-radius: 10px;  
    position: relative;
    display: flex;
    
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    padding: .1rem;
    transition: transform .2s;
    width: 700px;
    height: 650px;
    margin: 10px;
    margin-left: 40px;

  }
img {
    height: 450px;
    width: 200px;   
    text-align: center;   
    border-radius: 10px;
  }
  .card:hover {
    -ms-transform: scale(1.); 
    -webkit-transform: scale(1.); 
    transform: scale(1.05); 
  }
  @media screen and (max-width: 1024px) {
    .card {
      border-radius: 10px;  
      position: relative;
      display: flex;
      
      box-shadow: 0 3px 6px #999, 0 3px 6px #999;
      padding: .1rem;
      transition: transform .2s;
      width: 350px;
      height: 500px;
      margin: 10px;
      margin-left: 40px;
  
    }
  }
  @media screen and (max-width: 414px) {
    .card {
      border-radius: 10px;  
      position: relative;
      display: flex;      
      box-shadow: 0 3px 6px #999, 0 3px 6px #999;
      padding: .1rem;
      transition: transform .2s;
      width: 300px;
      height: 500px;
      margin: 10px;
      margin-left: 2px;
  }
}  