.card {
    background: #fff;
    border-radius: 10px;
    
    
    position: relative;
    display: flex;
    
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    padding: .1rem;
    transition: transform .2s;
    width: 600px;
    height: 500px;
    margin: 10px;
    margin-left: 40px;

  }
img {
    height: 300px;
    width: 200px;
    
    text-align: center;
    background:#6CADDC;
    border-radius: 10px;
  }
  
  .card:hover {
    -ms-transform: scale(1.); 
    -webkit-transform: scale(1.); 
    transform: scale(1.05); 
  }