/* .jumbotron {
    background-image: url("./assets/matrix.jpg");
    background-size: cover;
    height: 0%;
    color: white;
    font-family:'Bree Serif'; 
  } */
  .navbar {
      background-color: rgb(57, 59, 61);
     
  }
  .nav-link {
    color: white;
  }
  .fa{
    color: white;
  }