.project-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    padding: .1rem;
    transition: transform .2s;
    width: 50px;
    height: 200px;
    margin: 10px;
  }
img {
    height: 50px;
    width: 200px;
    
    text-align: center;
    background:#6CADDC;
    border-radius: 10px;
  }
  
  .card:hover {
    -ms-transform: scale(1.); 
    -webkit-transform: scale(1.); 
    transform: scale(1.05); 
  }
.card-deck {  
  background: rgb(2, 10, 80);
  height: 80%;
  display: inline-flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-evenly;
  overflow: auto;
  margin:10px;
  
  font-family: "Bree Serif";
}