.jumbotron {
    background-image: url("https://i.imgur.com/qx0qa7K.jpg");
    background-size: cover;
    color: white;
    font-family:'Bree Serif';
    
  }
  .navbar {
      background-color: rgb(46, 106, 197);
     
  }
  .nav-link {
    color: white;
  }
  .fa{
    color: white;
  }